.home-background {
  background-image: url('/images/homeBackground.png');
  background-size: cover;
  background-position: center;
}

.home-button-row {
  margin-top: 30rem;
}

.contact-card-img {
  width: 50%;
  max-width: 100px;
  height: auto;
}

.home-card {
  border-width: 0px;
}

.schedule-now-card {
  border-width: 0px;
}

.send-message-card {
  border-width: 0px;
}

.services-card {
  border-width: 5px;
}